/Unity Multiplayer final project/Library
/Unity Multiplayer final project/Logs
/Unity Multiplayer final project/UserSettings
/Unity Multiplayer final project/Temp
/Unity Multiplayer final project/Obj
/Unity Multiplayer final project/.vsconfig